<section id="about">
    <div class="about-content container">
		<div class="row">
			<div class="col-sm-4 about-photo">
				<img src="img/sally_portrait.jpg" class="img-responsive" alt="Portrait of Sally Kingsland">
			</div>
			<div class="col-sm-8">
				<h2 class="section-heading">About Sally</h2>
				<hr>
				<p>
					Hello! My name is Sally Kingsland and I am honoured to accompany people, as a spiritual companion, on their journey through life. 
				</p>
				<p>
					For the last 15 years I have been intentionally pursuing spiritual, emotional and physical healing on the path towards wholeness. This has included spiritual formation work, non-violent communication training, spiritual nurture training, being mentored in spiritual direction, and developing in my life as a contemplative. For me, a natural outcome of this path has been to share what I have learned about the eternal and support others on their journey.
				</p>
				<p>
				I am a mother of primary (elementary) school children and love being in nature, reading, cooking and gardening.
				</p>
				<p>
					I am actively connected to
					<a href="http://quakerspeak.com/basics/">Quaker</a>
					and Jewish communities.
					I am a member of <a href="https://www.sdiworld.org/">Spiritual Directors International</a> and abide by their <a href="https://www.sdiworld.org/member-publications/guidelines-ethical-conduct">Guidelines for Ethical Conduct</a>. I am inspired by, and have a growing interest in, Jungian insights and approaches for inner work.
				</p>
			</div>
		</div>
    </div>
</section>
