<section id="about">
    <div class="about-content container">
		<div class="row">
			<div class="col-sm-4 about-photo">
				<img src="img/sally_portrait.jpg" class="img-responsive" alt="Portrait of Sally Kingsland">
			</div>
			<div class="col-sm-8">
				<h2 class="section-heading">About Sally</h2>
				<hr>
				<p>
					My name is Sally Kingsland and I am a Jungian psychotherapist (learn more about what that means <a href="https://anzsja.org.au/">here</a>). I have also undertaken training with the
					<a href="http://www.anzap.com.au/">Australian & NZ Association of Psychotherapists</a>. 
				</p>    
				<p>	I am available to see people in person in inner North Canberra, Australia, or remote via phone or online video-conferencing. I offer online sessions via Coviu, a secure platform that does not require you to download any software.</p>
        		        <p>	I work across multiple time zones, including the USA.
				</p>

			</div>
		</div>
    </div>
</section>
