<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-5">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
			<div class="col-md-4 col-md-offset-1 text-center">
				<a href="mailto:{{ site.email }}">
				<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
					<p>{{ site.email }}</p>
				</a>
				<i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
				<p>0412 645 580</p>
			</div>
            <div class="col-md-5">
                <p>I am available to see people in person in inner North Canberra, Australia, or via online video-conferencing – Zoom, Skype, FaceTime etc.</p>
                <p>I work across multiple time zones, including the USA where I lived for five years.</p>

                <p><img src="img/rainbow_flag.png" alt="Rainbow flag" width="64" height="40"></p>
                <p>All are welcome.</p>
            </div>
        </div>
        <div class="row">
			<div class="col-md-8 col-md-offset-2">
                <h2>Writing and Speaking</h2>
                <hr>
                <ul>
                	<li>
						<p>
							<a href="https://australianfriend.org/nourishing-our-spiritual-lives-through-spiritual-direction/">
							    Nourishing Our Lives Through Spiritual Direction
							</a>
							<br>
							An article I wrote for the Australian Quaker Journal, March 2019
						</p>
                	</li>
                	<li>
                		<p>
                			<a href="https://www.youtube.com/watch?v=X7lsPtdP-gw">
								How to Know When God is Speaking to Us: Discernment
							</a>
							<br>
							SDI Learns video in which I speak about one way to practise discernment
							<br>
							(Spiritual Directors International Conference, April 2018)
						</p>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/X7lsPtdP-gw" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                	</li>
                </ul>
                <br>

				<hr>
            </div>
        </div>
        <div class="row">
		</div>

    </div>
</section>
