<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-5">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
			<div class="col-md-4 col-md-offset-1 text-center">
				<a href="mailto:{{ site.email }}">
				<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
					<p>{{ site.email }}</p>
				</a>
				<i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
				<p>0412 645 580</p>
			</div>
            <div class="col-md-5">
          
                <p><img src="img/rainbow_flag.png" alt="Rainbow flag" width="64" height="40"></p>
                <p>All are welcome noting that there are stairs to my office.</p>
	    </div>
		<p><img src="img/HallStSP.jpeg" alt="Sand play area"></p>
		<p><img src="img/HallStSeats.jpeg" alt="Talking therapy area"></p>

</section>
